<!--The content below is only a placeholder and can be replaced.-->
<ons-page>
  <ons-toolbar>
      <div class="center">OnsenUI</div>
  </ons-toolbar>
  <div class="background"></div><!-- Background of the page -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</ons-page>


