
<ons-list>
    <ons-list-header>Posts</ons-list-header>
    <a *ngFor="let item of items" [routerLink]="['/vip', item]">
        <ons-list-item  modifier="chevron" tappable >Post {{item}}</ons-list-item>
    </a>
</ons-list>