<ion-header>
        <ion-toolbar>
          <ion-title>
            Ionic Blank
          </ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content padding>
        The world is your oyster.asd
        <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs">docs</a> will be your guide.</p>


        <ion-button (click)="showCamera()">Show Camera</ion-button>
      </ion-content>